{%comment%}
{% assign helloVar = 5 | plus: 10 %}
{{ helloVar }}

{{ "</br>Array: </br>" }}
{% assign myArr = "Pao,Fazt,Lara,Paul,Lars,Tom " | split: "," %}

<ul>
{% for name in myArr %}
  <li>{{ name }}</li>
{% endfor %}
</ul>
{%endcomment%}

{%comment%}
{% assign collection = collections['learning'] %}
{{ collection.title }}

<ul>
{% for el in collection.products %}
  <li>
    <a href="{{ el.url }}">
      {{ el.title }} - {{el.price | money}} 
      {% unless el.available %}
        SOLD OUT
      {% endunless %}
    </a>
  </li>
{% endfor %}
</ul>
{%endcomment%}

